@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Lato:ital,wght@0,400;1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("  https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80 ");
  font-family: "poppins", sans-serif;
  margin: 0;
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin-top: -10rem;
  font-weight: normal;
  margin-top: 5rem;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
  font-weight: bold;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.5rem;
}
